/*메인*/
div.mnWrap{
    background-image: url(../img/bg_cloud.png);
}
div.mnWrap>.main{
    background-image: url(../img/index_main.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/*컨텐츠1*/
div.cnt1{
    margin-top: -280px;
    position: relative;
    z-index: 20;
}
div.cnt1>.header{
    background-color: #aed;
    overflow: hidden;
}
div.cnt1>.header>h2{
    float: left;
    line-height: 80px;
}
div.cnt1>.header>h2:first-of-type{
    width: 20%;
    text-align: center;
    border-right: 1px solid black;
    line-height: 30px;
    margin-top:25px;
}
div.cnt1>.header>h2:last-of-type{
    width: 76%; 
}
div.cnt1>.header>.btn{
    width: 4%;
    float: left;
}
div.cnt1>.header>.btn>button{
    margin: 10px 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

div.cnt1>.section{
    margin-top: 40px;
    overflow: hidden;
}
div.cnt1>.section>.article{
    width:calc(100% / 4 - 20px);
    height: 360px;
    background-image: url(../img/bg.jpg);
    float: left;
    margin: 0 10px;
    position: relative;
    
}
div.cnt1>.section>.article>.segment>h3{
    text-align: center;
    margin-top: 40px;
    font-family:"Poor Story","Single Day","Noto Serif KR";
}
div.cnt1>.section>.article>.image{
    width: 100%;
    height: 100%;
    position: absolute;
    
}
div.cnt1>.section>.article>.image>a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
div.cnt1>.section>.article>.image.i1{
    background-image: url(../img/index_cnt1_i1.png);
    background-repeat: no-repeat;
    background-position: center;
   
}
div.cnt1>.section>.article>.i2{
     background-image: url(../img/index_cnt1_i2.png);
    background-repeat: no-repeat;
    background-position: center;
}
div.cnt1>.section>.article>.i3{
     background-image: url(../img/index_cnt1_i3.png);
    background-repeat: no-repeat;
    background-position: center;
}
div.cnt1>.section>.article>.i4{
     background-image: url(../img/index_cnt1_i4.png);
    background-repeat: no-repeat;
    background-position: center;
}


/*컨텐츠2*/
div.cnt2{
    margin-top: 120px;
}

div.cnt2>.section{
    overflow: hidden;
}
div.cnt2>.section>.article{
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 0 10px;
    margin-top: 40px;
}


div.cnt2>.section>.article>.image{
    width: 260px; 
    height: 260px;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
 
}
div.cnt2>.section>.article>.i1{background-image: url(../img/index_cnt2_i1.jpg);}
div.cnt2>.section>.article>.i2{background-image: url(../img/index_cnt2_i2.jpg);}
div.cnt2>.section>.article>.i3{background-image: url(../img/index_cnt2_i3.jpg);}
div.cnt2>.section>.article>.i4{background-image: url(../img/index_cnt2_i4.jpg);}
div.cnt2>.section>.article>.i5{background-image: url(../img/index_cnt2_i5.jpg);}
div.cnt2>.section>.article>.i6{background-image: url(../img/index_cnt2_i6.jpg);}
div.cnt2>.section>.article>.segment{
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
}
div.cnt2>.section>.article>.segment>h3{
    text-align: center;
}
div.cnt2>.section>.article>.segment>p{
    height: 40px;
    overflow: hidden;
    text-align: center;
}
div.cnt2>.section>.btn{
    text-align: center;
}
div.cnt2>.section>.btn>button{
    margin-top: 40px;
}

/*a태그 덮기*/
div.cnt2>.section>.article>.image>a{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

/*hover 액션*/
div.cnt2>.section>.article>.image>a:hover:after{
    content: '';
    width: 70px;height: 65px;
    background-image: url(../img/sub1_cnt1_hover.png);
    position: absolute;
    left: 250px; top: -20px;
    position: absolute;
}
div.cnt2>.section>.article>.image>a:hover{
    background-image: url(../img/sub1_cnt1_hover_line.png);
    background-size: contain;
}

/*컨텐츠3*/
div.cnt3{
    margin-top: 120px;
}
div.cnt3>.section{
    height: 400px;
    overflow: hidden;
    position: relative;
    
}
div.cnt3>.section>.article{
    width: calc(100% / 5);
    background-color: black;
    height: 280px;
    display: #fff;
    font-weight: 700;
    margin-top: 60px;
    border-radius: 10px;
    float: left;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;

}
div.cnt3>.section>.i1{
    position: absolute;
    left: 0;
}
div.cnt3>.section>.i5{
    position: absolute;
    right: 0;
}
div.cnt3>.section>.i2{
    width: 270px;
    height: 320px;
    background-color: #ccc;
    position: absolute;
    left: 15%;
    margin-top: 40px;
    z-index: 5;
}
div.cnt3>.section>.i4{
    width: 270px;
    height: 320px;
    background-color: #ccc;
    position: absolute;
    right: 15%;
    margin-top: 40px;
    z-index: 5;
}
div.cnt3>.section>.i3{
    width: 380px;
    height: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    margin-top: 0;
}
div.cnt3>.section>.i1{background-image: url(../img/index_cnt3_i1.jpg);}
div.cnt3>.section>.i2{background-image: url(../img/index_cnt3_i2.jpg);}
div.cnt3>.section>.i3{background-image: url(../img/index_cnt3_i3.jpg);}
div.cnt3>.section>.i4{background-image: url(../img/index_cnt3_i4.jpg);}
div.cnt3>.section>.i5{background-image: url(../img/index_cnt3_i5.jpg);}

/*하단 페이징바*/
div.pBar>ul>li:nth-of-type(3){
    width: 40px;
    height: 40px;
    background-image: url(../img/btn_cen.png);
    background-size: cover;
    background-position: center;
    border: 0;
    margin-top: 0;    
}